.container {
  padding: 25px 50px;

  display: grid;
  grid-template-rows: 50px auto;
  min-height: inherit;
}

.sentences {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
