.channelContainer {
  border: 1px solid var(--color-grey);
  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
}

.channelInput {
  display: none;
}

.channelButton {
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 10px 30px;
  width: 150px;
  transition: var(--color-transition);
  background: var(--color-light-grey);
  box-shadow: var(--shadow);
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected {
  background: var(--color-grey);
}

.channelInput :checked ~ .channelButton {
  background: var(--color-grey);
}

.channelButton:hover {
  background: var(--color-grey);
}

.legend {
  font-size: 18px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  padding: 5px 20px;
}
