.container {
  --buttons-width: 100px;

  padding-top: 20px;
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: 50px auto var(--buttons-width);
  width: 100%;
  grid-gap: 10px;
  align-items: center;
}

.playButton {
  composes: roundButton from "../../styles/buttons.module.css";
  height: 40px;
  width: 40px;
}

.buttons {
  width: var(--buttons-width);
}

.button {
  composes: squareButton from "../../styles/buttons.module.css";
  width: var(--buttons-width);
}

.sentence {
  font-size: 20px;
}

.sentence p {
  margin: 0;
}
