.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.options {
  margin-right: 40px;
}

.playback {
  width: 550px;
  margin-left: 60px;
}
