.border {
  --bar-size: 30px;
  --radius: 5px;
}

.border {
  width: 100%;
  height: var(--bar-size);
}

.line {
  height: var(--bar-size);
  background-color: var(--color-grey-light);
  border-radius: var(--radius);
}

.highlight {
  height: var(--bar-size);
  background-color: var(--color-grey);
  border-radius: var(--radius);
  justify-content: right;
}
