.round-button {
  transition: background-color 0.09s, background-color 0.09s;
  background-color: transparent;
  color: var(--color-grey);
  border: 2px solid var(--color-grey);
  border-radius: 2rem;
  padding: 25px;
  width: 80px;
  height: 80px;
}

.round-button:hover {
  background: var(--color-grey);
  color: transparent;
  --button-color: var(--background-color);
}
