.round-button {
  box-shadow: var(--shadow);
  transition: var(--color-transition);
  background-color: var(--color-light-grey);
  color: var(--color-grey);
  border: none;
  border-radius: 2rem;
  padding: 25px;
  width: 80px;
  height: 80px;
}

.round-button:hover {
  background: var(--color-grey);
  color: transparent;
}
