.roundButton {
  box-shadow: var(--shadow);
  transition: var(--color-transition);
  background-color: var(--color-grey-light);
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.roundButton:hover {
  background: var(--color-grey);
}

.roundButton:active {
  background: var(--color-grey-lighter);
}

.squareButton {
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  transition: var(--color-transition);
  background: var(--color-grey-light);
  box-shadow: var(--shadow);
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  box-sizing: border-box;
  height: 40px;
}

.squareButton:hover {
  background: var(--color-grey);
}

.squareButton:active {
  background: var(--color-grey-lighter);
}
