
.audio-recorder {
    display: flex;
}

.audio-recorder button {
    width: 100px;
    transition-duration: 1s;
    background-color: #dedede;
    border: none;
    border-radius: 10px;
}

.audio-recorder button.recording {
    background-color: #fd6c6c;
}
