html {
  font-size: 22px;
}

html, body, #root {
  height: 100%;
}

:root {
  --background-color: #fafafa;
  --color-text: #222;
  --color-primary: #ef3340;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
