.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.search {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-grey);
  margin-right: 30px;
  margin-left: 8px;
}

.searchButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchButton svg path {
  fill: var(--color-icon);
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--color-text);
  width: 200px;
  padding-left: 8px;
}

.refreshButton {
  composes: roundButton from "../../styles/buttons.module.css";
  width: 40px;
  height: 40px;
}

.upload {
  display: flex;
  gap: 4px;
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.upload:hover {
  text-decoration: underline;
}

.upload svg path {
  fill: var(--color-icon);
}
